@* <footer class="row">
    <div class="col-12 bg-dark text-white pb-3 pt-5">
        <div class="row">
            <div class="col-lg-2 col-sm-4 text-center text-sm-left mb-sm-0 mb-3">
                <div class="row">
                    <div class="col-12">
                        <div class="footer-logo">
                            <a href="index.html">hubLaps</a>
                        </div>
                    </div>
                    <div class="col-12">
                        <address>
                            Hoàng Mai<br>
                            Hà Nội
                        </address>
                    </div>
                    <div class="col-12">
                        <a href="https://www.facebook.com/lawyer.trinh/" class="social-icon" target="_blank"><i class="fab fa-facebook-f"></i></a>
                        <a href="https://www.pinterest.com/dskhanhtrinh/" class="social-icon" target="_blank"><i class="fab fa-pinterest-p"></i></a>
                        <a href="https://www.instagram.com/lawyer.trinh/" class="social-icon" target="_blank"><i class="fab fa-instagram"></i></a>
                        <a href="https://linkedin.com/in/trinhkhanhh" class="social-icon" target="_blank"><i class="fab fa-linkedin"></i></a> <!-- Corrected icon class -->
                        <a href="https://github.com/trinhkhanh29" class="social-icon" target="_blank"><i class="fab fa-github"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-8 text-center text-sm-left mb-sm-0 mb-3">
                <div class="row">
                    <div class="col-12 text-uppercase">
                        <h4>Về hubLaps</h4>
                    </div>
                    <div class="col-12 text-justify">
                        <p>hubLaps - chuyên bán lẻ sỉ laptop uy tín cả nước. Chúng ta có nhiều mẫu mã hãng nhu cầu sử dụng đáp ứng được đầy đủ yêu cầu sử dụng của quý khách. Khách được nhân viên chăm sóc tư vấn sản phẩm 24/7.</p>

                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-sm-3 col-5 ms-lg-auto ms-sm-0 ms-auto mb-sm-0 mb-3">
                <div class="row">
                    <div class="col-12 text-uppercase">
                        <h4>Liên kết</h4>
                    </div>
                    <div class="col-12">
                        <ul class="footer-nav">
                            <li>
                                <a href="@Url.Action("Index","Home")">Trang chủ</a>
                            </li>
                            <li>
                                <a href="@Url.Action("Contact","Home")">Liên hệ</a>
                            </li>
                            <li>
                                <a href="@Url.Action("About","Home")">Giới thiệu</a>
                            </li>
                            <li>
                                <a href="#">Chính sách bảo mật</a>
                            </li>
                            <li>
                                <a href="#">Điều khoản và điều kiện</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-1 col-sm-2 col-4 me-auto mb-sm-0 mb-3">
                <div class="row">
                    <div class="col-12 text-uppercase text-underline">
                        <h4>Trợ giúp</h4>
                    </div>
                    <div class="col-12">
                        <ul class="footer-nav">
                            <li>
                                <a href="#">FAQs</a>
                            </li>
                            <li>
                                <a href="#">Bảo hành</a>
                            </li>
                            <li>
                                <a href="#">HD Thanh toán</a>
                            </li>
                            <li>
                                <a href="#">HD Mua hàng</a>
                            </li>
                            <li>
                                <a href="#">Liên hệ hợp tác</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 text-center text-sm-left">
                <div class="row">
                    <div class="col-12 text-uppercase">
                        <h4>Tin tức</h4>
                    </div>
                    <div class="col-12">
                        <form action="#">
                            <div class="mb-3">
                                <input type="text" class="form-control" placeholder="Nhập địa chỉ email..." required>
                            </div>
                            <div class="mb-3">
                                <button class="btn btn-danger text-uppercase">Đăng ký</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>  *@

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" asp-append-version="true" />

    <!-- Font Awesome CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" integrity="sha384-k6RqeWeci5ZR/Lv4MR0sA0FfDOM9MRj6Xk7x4rwe60BO0S7KAQ0NTKIjklneivl" crossorigin="anonymous">

    <!-- Ionicons CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css" integrity="sha384-PZw7gHw1NkF30gIY8pHEEbxHPvA9u50nZ7JN7QOOG2h2Yc9J7XZ6boOkFYVzjkM7" crossorigin="anonymous" />

    <!-- Custom Styles -->
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/shop_hubLaps.styles.css" asp-append-version="true" />
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">
    <link href="~/content/css/style-footer.css" rel="stylesheet" />

    <!--Dell Icon-->

</head>

<body>
    <footer class="footer-02">
        <div class="container">
            @* <div class="row justify-content-center">
                <div class="col-10 col-lg-6">
                    <div class="subscribe mb-5">
                        <form action="#" class="subscribe-form">
                            <div class="form-group d-flex">
                                <input type="text" class="form-control rounded-left" placeholder="Enter email address">
                                <input type="submit" value="Subscribe" class="form-control submit px-3">
                            </div>
                        </form>
                    </div>
                </div>
            </div> *@
            <div class="row">
                <div class="col-md-4 col-lg-5">
                    <div class="row">
                        <div class="col-md-12 col-lg-8 mb-md-0 mb-4">
                            <div class="footer-logo">
                                <a href="index.html"><img src="~/img/hubLaps.svg" alt="Dell" style="max-width:100%; margin-right: 10px;"></a>
                            </div>
                            <p>hubLaps - chuyên bán lẻ sỉ laptop uy tín cả nước. Chúng ta có nhiều mẫu mã hãng nhu cầu sử dụng đáp ứng được đầy đủ yêu cầu sử dụng của quý khách. Khách được nhân viên chăm sóc tư vấn sản phẩm 24/7.</p>
                            <a href="#">Đọc thêm <i class="fas fa-arrow-right"></i></a>
                        </div>
                    </div>
                    <div class="payment-method mt-4">
                        <h5 style="color:#fff;">Phương thức thanh toán</h5>
                        @* <img src="~/Content/images/logo-momo.png" alt="MoMo" style="width: 50px; height: 50px;">
                        <img src="~/Content/images/visa-payment.jpg" alt="MoMo" style="width: 48px; height: 30px;">
                        <img src="~/Content/images/VnPay.png" alt="MoMo" style="width: 80px; height: 30px;">
                        <img src="~/Content/images/zalopay.png" alt="MoMo" style="width: 100px; height: 50px;"> *@
                        <img src="~/img/payment.png" alt="payment" style="width: 238px; height: 100%;">
                    </div>   
                </div>

                <div class="col-md-8 col-lg-7">
                    <div class="row">
                        <div class="col-md-3 mb-md-0 mb-4 border-left">
                            <h2 class="footer-heading">Liên kết</h2>
                            <ul class="list-unstyled">
                                <li>
                                    <a href="@Url.Action("Index","Home")">Trang chủ</a>
                                </li>
                                <li>
                                    <a href="@Url.Action("Contact","Home")">Liên hệ</a>
                                </li>
                                <li>
                                    <a href="@Url.Action("About","Home")">Giới thiệu</a>
                                </li>
                                <li>
                                    <a href="#">Bảo mật</a>
                                </li>
                                <li>
                                    <a href="#">Điều khoản và điều kiện</a>
                                </li>
                            </ul>
                        </div>
                        
                        <div class="col-md-3 mb-md-0 mb-4 border-left">
                            <h2 class="footer-heading">Trợ giúp</h2>
                            <ul class="list-unstyled">
                                <li><a href="#" class="py-1 d-block">FAQs</a></li>
                                <li><a href="#" class="py-1 d-block">HD Thanh toán</a></li>
                                <li><a href="#" class="py-1 d-block">HD Mua hàng</a></li>
                                <li><a href="#" class="py-1 d-block">Liên hệ hợp tác</a></li>                
                            </ul>
                        </div>
                        <div class="col-md-3 mb-md-0 mb-4 border-left">
                            <h2 class="footer-heading">Mạng xã hội</h2>
                            <ul class="list-unstyled">
                                <li><a href="https://www.facebook.com/lawyer.trinh/" class="py-1 d-flex align-items-center"><i class="fab fa-facebook-f me-2"></i>Facebook</a></li>
                                <li><a href="https://www.pinterest.com/dskhanhtrinh/" class="py-1 d-flex align-items-center"><i class="fab fa-pinterest-p me-2"></i>Pinterest</a></li>
                                <li><a href="https://www.instagram.com/lawyer.trinh/" class="py-1 d-flex align-items-center"><i class="fab fa-instagram me-2"></i>Instagram</a></li>
                                <li><a href="https://linkedin.com/in/trinhkhanhh" class="py-1 d-flex align-items-center"><i class="fab fa-linkedin me-2"></i>Linkedin</a></li>
                                <li><a href="https://github.com/trinhkhanh29" class="py-1 d-flex align-items-center"><i class="fab fa-github me-2"></i>Github</a></li>
                            </ul>
                        </div>
                        <div class="mt-4">
                            <h5 style="color: #ff5733; font-weight: bold;">ĐĂNG KÝ NHẬN TIN KHUYẾN MÃI</h5>
                            <p style="color: #555; font-size: 14px;">(*) Nhận ngay voucher 10%</p>
                            <p style="color: #555; font-size: 14px;">*Voucher sẽ được gửi sau 24h, chỉ áp dụng cho khách hàng mới</p>
                            <form action="#" method="post" class="subscribe-form">
                                <div class="form-group d-flex">
                                    <input type="email" class="form-control rounded-left" placeholder="Nhập email của bạn" required style="margin-right: 10px; border: 1px solid #ff5733;">
                                    <input type="text" class="form-control rounded-left" placeholder="Nhập số điện thoại" required style="margin-right: 10px; border: 1px solid #ff5733;">
                                    <input type="submit" value="Đăng ký ngay" class="form-control submit px-3" style="background-color: #ff5733; color: white; border: none;">
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row partner-wrap mt-5">
                <div class="col-md-12">
                    <div class="row align-items-center">
                        <div class="col">
                            <h3 class="mb-0">Our Partner:</h3>
                        </div>
                        <div class="col-md-9">
                            <p class="partner-name mb-0">                                
                                <a href="#"><img src="~/img/dell-technologies-white.webp" alt="Dell" style="width: 40px; margin-right: 10px;"></a>
                                <a href="#"><img src="~/img/msi-logo.png" alt="msi" style="width: 80px; margin-right: 10px; filter: brightness(0) invert(1);"></a>
                                <a href="#"><img src="~/img/Acer-Logo.png" alt="vaio" style="width: 80px; margin-right: 10px; filter: brightness(0) invert(1);"></a>
                                <a href="#"><img src="~/img/hp-logo.svg" alt="hp" style="width: 60px; margin-right: 10px; filter: brightness(0) invert(1);"></a>
                                <a href="#"><img src="~/img/vaio-logo.png" alt="vaio" style="width: 80px; margin-right: 10px; filter: brightness(0) invert(1);"></a>                                  
                                <a href="#"><img src="~/img/lenovo-logo.svg" alt="vaio" style="width: 80px; margin-right: 10px; filter: brightness(0) invert(1);"></a>                                  
                                @* <a href="#"><img src="~/img/Samsung_Logo.svg.png" alt="Samsung" style="width: 80px; margin-right: 10px;"></a> *@
                                <a href="#"><img src="~/img/Microsoft_logo_(2012).svg.webp" alt="Microsoft" style="width: 90px; margin-right: 10px;"></a>
                                <a href="#"><img src="~/img/MacBook_Pro.svg" alt="MacBook" style="width: 90px; margin-right: 10px; filter: brightness(0) invert(1);"></a>
                            </p>
                        </div>
                        <div class="col text-md-right">
                            <p class="mb-0"><a href="#" class="btn-custom">See All <span class="ion-ios-arrow-round-forward"></span></a></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mt-5">
                <div class="col-md-6 col-lg-8">
                    <p class="copyright">
                        Copyright &copy;<span id="currentYear"></span>
                        All rights reserved | This product was created
                        <i class="ion-ios-heart" aria-hidden="true"></i> 
                        by
                        <a href="#" target="_blank">Khanh Trinh</a>
                    </p>
                </div>
                <div class="col-md-6 col-lg-4 text-md-right">
                    <p class="mb-0 list-unstyled">
                        <a class="mr-md-3" href="#">Terms</a>
                        <a class="mr-md-3" href="#">Privacy</a>
                        <a class="mr-md-3" href="#">Compliances</a>
                    </p>
                </div>
                <div class="col-md-12 d-flex justify-content-center mt-3" style="padding-bottom:20px;align-items:center;">
                    <img src="~/Content/images/Dang-ky-thong-bao-website-thuong-mai-dien-tu.png" alt="dang-ky-bo-cong-thuong" style="width: 165px;height: 30px; margin-right: 10px;">
                    <img src="~/Content/images/dmca-logo.png" alt="dang-ky-bo-cong-thuong" style="width: 105px;height: 30px;">
                    <img src="~/img/partner-4.png" alt="MoMo" style="width: 60px; height: 100%;">

                </div>

            </div>
        </div>
    </footer>
</body>
<script>
    // Đoạn mã JavaScript để lấy năm hiện tại và hiển thị vào phần tử có id là "currentYear"
    document.getElementById("currentYear").textContent = new Date().getFullYear();
</script>
