@page
@model ExternalLoginsModel
@{
    ViewData["Title"] = "Quản lý đăng nhập ngoài";
    ViewData["ActivePage"] = ManageNavPages.ExternalLogins;
}

<partial name="_StatusMessage" for="StatusMessage" />

@if (Model.CurrentLogins?.Count > 0)
{
    <h3>Các đăng nhập đã đăng ký</h3>
    <table class="table table-striped">
        <tbody>
            @foreach (var login in Model.CurrentLogins)
            {
                <tr>
                    <td id="@($"login-provider-{login.LoginProvider}")">
                        <i class="bi bi-person-circle"></i>
                        @login.ProviderDisplayName
                    </td>
                    <td>
                        @if (Model.ShowRemoveButton)
                        {
                            <form id="@($"remove-login-{login.LoginProvider}")" asp-page-handler="RemoveLogin" method="post">
                                <div>
                                    <input asp-for="@login.LoginProvider" name="LoginProvider" type="hidden" />
                                    <input asp-for="@login.ProviderKey" name="ProviderKey" type="hidden" />
                                    <button type="submit" class="btn btn-danger" title="Xóa đăng nhập từ @login.ProviderDisplayName">
                                        <i class="bi bi-x-circle"></i>
                                        Xóa
                                    </button>
                                </div>
                            </form>
                        }
                        else
                        {
                            @: &nbsp;
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
@if (Model.OtherLogins?.Count > 0)
{
    <h4>Thêm dịch vụ đăng nhập khác</h4>
    <hr />
    <form id="link-login-form" asp-page-handler="LinkLogin" method="post" class="form-horizontal">
        <div id="socialLoginList">
            <p>
                @foreach (var provider in Model.OtherLogins)
                {
                    <button id="@($"link-login-button-{provider.Name}")" type="submit" class="btn btn-outline-primary" name="provider" value="@provider.Name" title="Đăng nhập bằng tài khoản @provider.DisplayName">
                        <i class="bi bi-box-arrow-in-right"></i>
                        @provider.DisplayName
                    </button>
                }
            </p>
        </div>
    </form>
}
