@model IEnumerable<shop_hubLaps.Models.TinTuc>

@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    ViewData["Title"] = "Danh sách Tin Tức";
}

<h2>@ViewData["Title"]</h2>


<p>
    <a class="btn btn-primary" href="@Url.Action("Create")">Tạo Tin Tức</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>Tiêu Đề</th>
            <th>Chủ Đề</th>
            <th>Ngày Cập Nhật</th>
            <th>Hành Động</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.tieude</td>
                <td>@item.ChuDe.tenchude</td>
                <td>@item.ngaycapnhat?.ToString("dd/MM/yyyy")</td>
                <td>
                    <a class="btn btn-info" href="@Url.Action("Edit", new { id = item.matin })">Sửa</a>
                    <a class="btn btn-danger" href="@Url.Action("Delete", new { id = item.matin })">Xóa</a>
                </td>
            </tr>
        }
    </tbody>
</table>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />  
}
